# ---- Cached artifacts ----
cache/
**/cache/*

**/nul

# ---- R serialized objects ----
*.rds
*.RData

# ---- R session artifacts ----
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/

# ---- PDFs (copyrighted papers) ----
articles/*.pdf
articles/

# ---- Node.js ----
node_modules/
package.json
package-lock.json